* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  background-color: #562b81;
  color: white;
  padding: 0.5rem;
}

h2 {
  font-family: "Proza Libre", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

h1 {
  font-family: "Proza Libre", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.container {
  background-color: #e9e7e9;
}

.column-half > img {
  width: 100%;
}

.title,
.notes,
.photo-url {
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #292929;
}

#title,
#notes,
#photo-url {
  border-radius: 4px;
  border-width: 1.5px;
  border-color: #e9e7e9;
}

input:focus {
  border-color: #562b81;
}

.column-half input {
  width: 100%;
  line-height: 25px;
}

.notes-field {
  height: 149px;
}

.photo-url,
.notes-section {
  padding-top: 15px;
}

label {
  line-height: 25px;
}

.button {
  background-color: #562b81;
  color: white;
  padding: 5px 14px;
  border-radius: 5px;
  border-width: 1px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.align-right {
  margin-top: 1rem;
  text-align: right;
}

.border-color {
  border-color: #562b81;
}
